# marketing (Main Backend) values

replicaCount: 3

image:
  repository: 679574531779.dkr.ecr.ap-northeast-2.amazonaws.com/marketing
  tag: "1908e0a2c07c30671c10dddc312c6fdb870c1a10"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 8080
  targetPort: 8080

spring:
  profiles:
    active: "prod"

resources:
  limits:
    cpu: 1000m
    memory: 1024Mi
  requests:
    cpu: 250m
    memory: 512Mi
